<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthShareUsageDescription</key>
	<string>GutTracker 需要讀取您的睡眠、步數和心率資料，以分析腸胃症狀與生活習慣的關聯。</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>GutTracker 會將排便和症狀記錄同步到 Apple Health，方便您在健康 App 中整合查看。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
